.Pagina {
    position: absolute;
    left: 0;
    top: 0;
    width: 950px;
    height: 800px;
    display: grid;
    grid-template-columns: 5px auto 5px;
    grid-template-rows: 70px 1fr 1fr 1fr 1fr 1fr 20px;
    gap: 1px;
}

.__Grid1 {
    grid-column: 2/3;
}

