.BtnMenu {
    position: absolute;
    left: 5px;
    top: 5px;
    max-width: 60px;
}

.activator {
    max-width: 60px;
    cursor: pointer;
}

.imagenesMenu {
    width: 50px;
}

.__MenuGeneral {
    max-width: 60px;
    width: 60px;
    cursor: pointer;
}

.MenuGeneral {
    background-color: rgb(32, 104, 153);
    background-color: rgb(142, 196, 232);
    position: absolute;
    left: 15px;
    top: 5px;
    width: calc(60px*8);
    height: 60px;
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: 60px;
    border-radius: 20px;
}

.img02 {
    grid-column: 2/3;
}

.img03 {
    grid-column: 3/4;
}

.img04 {
    grid-column: 4/5;
}

.img05 {
    grid-column: 5/6;
}

.img06 {
    grid-column: 6/7;
}

.img07 {
    grid-column: 7/8;
}

.img08 {
    grid-column: 8/9;
}

/**============================================
 *
 *=============================================**/

.MenuEsta {
    position: absolute;
    left: 10px;
    top: 100px;
    font-size: 12px;
}