table.redTable {
    border: 2px solid #A40808;
    background-color: #EEE7DB;
    width: 550px;
    text-align: center;
    border-collapse: collapse;
  }
  table.redTable td, table.redTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
  }
  table.redTable td {
      color: #000000;
      text-align: left;
  }
  table.redTable tbody td {
    font-size: 13px;
  }
  table.redTable tr:nth-child(even) {
    background: #F5C8BF;
  }
  table.redTable thead {
    background: #A40808;
  }
  table.redTable thead th {
    font-size: 19px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-left: 2px solid #A40808;
  }
  table.redTable thead th:first-child {
    border-left: none;
  }